<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Tower of Hanoi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
  <div id="menu">
    <h1>Pilih Level</h1>
    <div id="levelButtons"></div>
  </div>

  <div id="gameUI" style="display:none; text-align:center;">
    <button onclick="goHome()">🏠 Home</button>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
  </div>

  <div id="winScreen" style="display:none; text-align:center;">
    <h1 id="winMessage">ANDA MENANG!</h1>
    <button id="btnNext">Lanjut</button>
    <button onclick="goHome()">Home</button>
  </div>

  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>
